* {
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;

}
.container{
  width: 100%;
  min-height: 81.2vh;
  max-height: inherit;
  padding: 0 5%;
}
.content{
  width: inherit;
  height: inherit;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 5px;
  border-radius: 5px ;

}

.p-menu{
  display: block;
  width: auto;
}
.page{
  display: block;
  width: 70%;
}
