<footer>
  <div class="container">
      <div class="logo">
          <h2>My Project</h2>
      </div>
      <div class="fastnav">
          <p>Fast Navigation</p>
          <ol>
              <li><a (click)="projectPage()" > Projects</a></li>
              <li><a routerLinkActive="actice" routerLink="/scoreboard-page">Scoreboard</a></li>
              <li><a routerLinkActive="active" routerLink="/about-page">About</a></li>
          </ol>
      </div>
      <div class="contact">
          <div class="contactitem">
              <div id="facebook">
                  <i class="fab fa-facebook-square"></i><p>My Project</p>
              </div>
              <div id="email">
                  <i class="fas fa-envelope"></i><p>myproject@gmail.com</p>
              </div>
              <div id="tell">
                  <i class="fas fa-phone-square-alt"></i><p>000-000-0000</p>
              </div>
              <div id="www">
                  <i class="far fa-window-maximize"></i><p>www.thonburi-u.ac.th/</p>
              </div>
          </div>
      </div>
    </div>
</footer>
