<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand">My Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" (click)="projectPage()" aria-current="page">Projects</a>
        <a class="nav-link " routerLinkActive="actice" routerLink="/scoreboard-page">Scoreboard</a>
        <a class="nav-link " routerLinkActive="active" routerLink="/about-page">About</a>
        <a *ngIf="roleId == 1" class="nav-link " routerLinkActive="active" routerLink="/admin/projectlist-page">Admin</a>
      </div>
      <div class="navbar-nav Account">
        <a *ngIf="!authenService.isUserLoggedIn()" class="nav-link" routerLinkActive="actice" routerLink="/signup-page"><i class="fas fa-user-circle"></i> Sign Up</a>
        <a *ngIf="!authenService.isUserLoggedIn()" class="nav-link" routerLinkActive="active" routerLink="/login-page"><i class="fas fa-sign-in-alt"></i> Log In</a>
        <a *ngIf="authenService.isUserLoggedIn()" class="nav-link" routerLinkActive="actice" routerLink="/account/accountDetail/{{getUserId}}"  [(ngModel)]="username" ngDefaultControl><i class="fas fa-user"> </i> {{username}}</a>
        <a *ngIf="authenService.isUserLoggedIn()" class="nav-link" routerLinkActive="active" routerLink="/logout"><i class="fas fa-sign-in-alt" (click)="logOut()"></i> Log Out</a>

      </div>
    </div>
</div>
