<div class="main">
  <div class="divmain">
      <div class="banner_text">
          <div class="text-title">
              <h1>About US</h1>
          </div>
          <div class="text-info">
              <p class="info">เนื่องด้วยในปัจจุบันนี้ เทคโนโลยีบนอุปกรณ์เคลื่อนที่
              อาทิเช่น Smartphone, Tablet ได้เข้ามามีบทบาทเกี่ยวข้องกับชีวิตประจำวันคนเราตั้งแต่ตื่นนอน
              ไปทำงาน จนกระทั่งขณะ หลับ โดยสามารถช่วยอํานวยความสะดวกสบายมากมาย และยังสามารถช่วยในการทำงานได้ ทุกเวลา ทุกสถานที่
              <br>จึงทำให้อุปกรณ์เคลื่อนที่เหล่านี้มีอิทธิพลต่อการดำรงชีวิตของคนใน
              ปัจจุบัน  อย่างหลีกเลี่ยงไม่ได้ด้วยเหตุผลเพราะว่า รวดเร็ว สะดวกสบาย ในยุคปัจจุบันนี้
              โปรแกรมประยุกต์
              <br>(Application Software) ในรูปแบบของ Web-based Application ออกแบบมาทำงานสำหรับ
              <br>ทุกอุปกรณ์ ไม่ว่าจะเป็นเครื่องคอมพิวเตอร์ แท็บเล็ต และ โทรศัพท์มือถือ
              </p>
          </div>
          <br>
          <div class="text--info">
              <p>ซึ่งการให้คะแนนโครงงานหรืองานประเมินต่างๆที่ใช้กระดาษในการประเมินทำให้มีความยุ่งยาก
                  <br>ในการสรุปผลประเมิน และ อาจมีข้อผิดพลาดในกระบวนการรวบรวมคะแนน ทางเราจึงพัฒนา ระบบให้คะแนนโครงการด้วย UI,UX ใน Web Application ขึ้นเพื่อตอบสนองความต้องการของผู้ใช้ พร้อมทั้งเพิ่มความสะดวกในการให้คะแนน ลดข้อผิดพลาดในการสรุปผลคะแนน และเป็นประโยชน์ต่อโลกในการลดใช้กระดาษในการประเมิน
              </p>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <p class="p-ad1">consultant</p>
          <p class="p-ad2">Mr. Sittisak Thongsuk</p>
          <div class="img">
            <img class="d-block w-100" src="../../assets/image/j.ped.jpg">
        </div>
        </div>
        <div class="col">
          <p class="p-ad1">Team member </p>
          <p class="p-ad2">Mr. Pee Mahawisetsin</p>
          <div class="img">
            <img class="d-block w-100" src="../../assets/image/pee.jpg">
        </div>
        </div>
        <div class="col">
          <p class="p-ad1">Team member</p>
          <p class="p-ad2">Mr. Aekkasit Phumsuai</p>
          <div class="img">
            <img class="d-block w-100" src="../../assets/image/aek.jpg">
        </div>
        </div>
      </div>
    </div>
  </div>
